<h3><%= pluralize(@questions.count, 'Question') %></h3>


<table border="1">
  <% @questions.each do | question | %>
  <tr>
    <td><%= link_to(question.title,  question_path(question)) %></td>
    <td><%= format_body(question) %></td> 
    <td><%= question.created_at.to_s(:long) %></td>
  </tr>
  <% end %>

</table>